annotated-types
anyio 
archspec
argon2-cffi
argon2-cffi-bindings
arrow
asttokens 
astunparse 
async-lru
attrs 
Babel 
beautifulsoup4 
bleach 
boltons 
Brotli 
bson==0.5.9
cached-property
cachetools 
certifi
cffi 
cftime 
chardet 
charset-normalizer
click 
colorama 
comm 
#conda 
#conda-libmamba-solver 
#conda-package-handling 
#conda_package_streaming 
#condacolab==0.1.9
contourpy 
coverage 
cycler 
debugpy 
decorator 
defusedxml 
dill==0.3.8
distro
#edgembar==0.2
entrypoints 
exceptiongroup 
executing 
fasteners==0.19
fastjsonschema
fonttools 
fqdn
freetype-py
frozendict 
greenlet 
GridDataFormats==1.0.2
gufe 
h11 
h2 
hpack==4.0.0
httpcore 
httpx 
hyperframe 
idna 
importlib_metadata 
importlib_resources 
ipykernel 
ipython 
ipywidgets 
isoduration 
jax 
#jaxlib==0.4.23.dev20240522
jedi 
Jinja2 
joblib 
json5 
jsonpatch 
jsonpointer 
jsonschema 
jsonschema-specifications 
jupyter-events
jupyter-lsp
jupyter_client 
jupyter_core 
jupyter_server 
jupyter_server_terminals 
jupyterlab 
jupyterlab_pygments 
jupyterlab_server
jupyterlab_widgets
kartograf==1.0.1
kiwisolver 
#libmambapy
lightgbm==4.5.0
llvmlite 
#lomap2 
lxml 
mamba 
MarkupSafe 
matplotlib==3.9.1
matplotlib-inline
mda-xdrlib 
MDAnalysis==2.7.0
mdtraj 
#menuinst 
mistune 
ml-dtypes 
#MMPBSA.py==16.0
#mmtf-python==1.1.3
#mpiplus 
mrcfile==1.5.0
msgpack==1.0.8
munkres==1.1.4
nbclient 
nbconvert
nbformat 
#ndfes==1.8
nest_asyncio 
netCDF4 
networkx 
nose 
notebook 
notebook_shim 
numba 
numexpr 
numpy 
openfe==0.0.12
#openff-amber-ff-ports 
#openff-interchange
#openff-models 
#openff-toolkit 
#openff-units 
#openff-utilities 
#openforcefields 
OpenMM==8.1.1
#openmmforcefields 
#openmmtools
opt-einsum
overrides 
packaging 
#packmol_memgen==2024.2.9
panda==0.3.1
pandas 
pandocfilters 
panedr 
ParmEd 
parso 
#pdb4amber==22.0
#pdbfixer 
pexpect 
pickleshare 
pillow 
Pint 
pkgutil_resolve_name 
platformdirs 
plugcli 
pluggy 
prometheus_client 
prompt_toolkit
psutil 
ptyprocess 
pure-eval
py-cpuinfo
py3Dmol==2.3.0
pyarrow==17.0.0
pycairo==1.26.1
pycosat 
pycparser 
pydantic 
pydantic_core 
pyedr 
Pygments 
pymbar==4.0.3
#pyMSMT==22.0
pyparsing
PySocks 
python-constraint==1.4.0
python-dateutil 
python-json-logger 
#pytraj==2.0.6
pytz 
PyYAML 
pyzmq 
rdkit 
referencing 
reportlab 
requests 
rfc3339-validator
rfc3986-validator 
rlPyCairo 
rpds-py 
ruamel.yaml 
ruamel.yaml.clib 
#sander==22.0
scikit-learn==1.5.1
scipy 
Send2Trash 
six 
#smirnoff99frosst 
sniffio 
soupsieve 
SQLAlchemy 
stack-data 
tables
terminado 
threadpoolctl==3.5.0
tinycss2 
tinydb 
tomli 
tornado 
tqdm 
traitlets 
truststore 
types-python-dateutil 
typing-utils 
typing_extensions 
tzdata 
unicodedata2 
uri-template 
urllib3 
validators 
wcwidth 
webcolors 
webencodings 
websocket-client 
widgetsnbextension 
xmltodict 
zipp 
zstandard==0.23.0
